In [ ]:
#Question 1

In [42]:
print("Twinkle, twinkle, little star,\n\t How I wonder what you are! \n\t\t Up above the world so\n\t\t high,Like a diamond in the sky.Twinkle,\n twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so
		 high,Like a diamond in the sky.Twinkle,
 twinkle, little star,
	How I wonder what you are

In [ ]:
#Question 2

In [17]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [ ]:
#Question 3

In [18]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-21 08:52:39

In [ ]:
#Question 4

In [19]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 14
The area of the circle with radius 14.0 is: 615.7521601035994

In [ ]:
#Question 5

In [1]:
a=input("Enteryour name")[::-1]
a

Enteryour nameumar

'ramu'

In [ ]:
#Question 6

In [4]:
A = "Allama"
B = " IQBAL"
print(A,B)

Allama  IQBAL

In [ ]:
#Question 7

In [14]:
eng=int(input("Enter marks of the first subject: "))
urdu=int(input("Enter marks of the second subject: "))
maths=int(input("Enter marks of the third subject: "))
chemistry=int(input("Enter marks of the fourth subject: "))
physics=int(input("Enter marks of the fifth subject: "))
total=500
percent=(eng+urdu+maths+chemistry+physics)/total*100
if percent <100 and percent >=80:
    print("A+")
if percent <80 and percent >=70:
    print("A")        
if percent <70 and percent >=60:
    print("B")
if percent <60 and percent >=50:
    print("C")
if percent <50 and percent >=40:
    print("D")    
if percent <40 and percent >=33:
    print("E")
elif percent < 0 and percent > 100:
    print("you didnot write the correct percentage")

Enter marks of the first subject: 85
Enter marks of the second subject: 85
Enter marks of the third subject: 96
Enter marks of the fourth subject: 90
Enter marks of the fifth subject: 89
A+

In [ ]:
#Question 8

In [19]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 2
This is an even number.

In [ ]:
#Question 9

In [20]:
l1=["Flash","cisco","harrison","jaygarrick","iris"]
print(l1)

['Flash', 'cisco', 'harrison', 'jaygarrick', 'iris']

In [21]:
len(l1)

5

In [ ]:
#Question 10

In [28]:

total = 0
ele = 0
list1 = [11, 5, 17, 18, 23] 
 
while(ele < len(list1)):
    total = total + list1[ele]
    ele += 1
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
#Question 11

In [30]:
list1 = [10, 20, 4, 45, 99]
print("Largest element is:", max(list1))

Largest element is: 99

In [43]:
#Question 12

In [36]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for i in a:

    if i < 5:

        print(i)

1
1
2
3